

.car {
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px;
    align-items:center;
    position: relative;
    justify-content: space-between;
}

.car img{
    max-width: 200px;
    max-height: 300px;
    width: 100px;
}